

  .half-width
  {
    /* width:50%; */
    margin: 10% auto 0;
  }

  .container {
    /* border: 1px solid black; */
    padding: 20px;
    /* border: 1px solid black; */
    padding: 20px;
    text-align: center;
 
  }

  #graph-div{
    background-color: #161b22;
    margin: 4%;
  }

  .legend-div{
    width: 25%;
    border:1px solid white;
    height: 40%;
    margin-top: 15%;
  }

  .graph-legend{
    display:flex;
    flex-direction: row;
  }
  
  .graph-container{
    flex-basis: 80%;
  }

  .legend-container{
    flex-basis: 20%;
  }