.main-container{
    padding: 0 1.5%;
    margin-bottom: 5%;
}
.general-container{
    display: flex;
    flex-direction: row;
    margin: 2% 3% 0% 3%;
}
.upload-file{
    flex-basis: 80%;
}
.optimiser-info{
    flex-basis: 20%;
    margin-right:5%;
}

/* Optimisation Section */
.optimisation-list-container{
    height: 100vh;
    margin: 5% 0% 5% 0%;
    background-color: #161b22;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Accordion Section */
.accordion-item, .accordion-body, .accordion-header, .accordion-item button, .accordion-item button:not(.collapsed) {
    background-color: #161b22;
    color:#fff;
}

.accordion-item{
    border-color: #000000 !important;
}

.accordion-item button{
    box-shadow: #fff !important;
}

/* Code Display Section */
.code-container{
    height: 100vh;
    margin: 5% 0% 5% 0%;
    background-color: #161b22;
    display: flex;
    flex-direction: column;
}
.inner-code-container-1{
    margin: 2% 2%;
    flex-basis: 5%;
}
#select-theme{
    margin:0;
    height: 100%;
    width: 20%;
}
.copy-btn{
    margin-bottom: 0%;
    float: right;
}
.syntax-highlighter{
    flex-basis: 95%;
    margin: 2% 2%;
    overflow: scroll;
    scroll-behavior: smooth;
}